
    .navbar{
        margin-top: 1%;
        border-bottom: 0.5px solid rgb(231, 228, 228);
    }
      input {
          border: none;
          outline: none;
          background: transparent;
      }
          input::placeholder {
            font-size: 12px;
          }
      
  
      
        
         
  
          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
  
         .counter {
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            top: 15px;
            right: 380px;
          } 

  .iconNav{
  font-size: larger;
  }        
        